@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem
  }
}



::-webkit-scrollbar {
  display: none;
}


.adjustableHeight {
  height: calc(100vh - 150px);
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 10px 2px inset
}